.heading {
  background-image: url("../img/test.jpg");
  color: white;
  padding: 20px;


}

body {
  background-color: #d6d6c2;
}

.main {
  color: blue;
  padding: 40px;
}

.footer {
  border-style: outset;
  border-width: 5px;
  padding: 10px;
}

.sport1 {
  color: brown;
}

.sport2 {
  color: blue
}

.link {
  text-align: center;
}

.pic {

  width: 25%;
  height: 25%;
  border-radius: 50%;
}


.portrait {
  text-align: center;
  font-size: 2em;
}
